button {
    width:100%;
    color:white;
    background:linear-gradient(#e17501, #e59500);
    border-width:0px;
    border-radius:20px;
    padding:5px;
    font-weight: bold;
    cursor:pointer;
}